body {
  background-color: #EAF6F6;
  }



hr {
  border-style: none;
  border-top: dotted 1vw;
  border-color: lightgrey;
  width: 10vw;
  }

#table1 {padding: 0px;}

#last-table {margin: 0px;}

p {margin: 0px;}

h1, h3{color: #66BFBF;}

h1 {margin-bottom: 0px; font-weight: normal;}

h3 {margin-bottom: 0px;}

/* Small devices */
@media only screen and (max-width: 600px) {
  .name-font {font-size: 7vw;}
  .title-font {font-size: 5vw;}
  .normal-font {font-size: 4vw;}
  img {width: 17vw; margin-top: 8vw;}
}

/* Big devices */
@media only screen and (min-width: 601px) {
  .name-font {font-size: 5vw;}
  .title-font {font-size: 3vw;}
  .normal-font {font-size: 2vw;}
  img {width: 12vw; margin-top: 6vw;}
}

.name-font {font-family: 'FastHand', cursive;}
.title-font {font-family: 'Caveat', cursive;}
.normal-font {font-family: 'Instrument Serif', serif;}

/* font-family: 'Bungee Shade', cursive;
font-family: 'Caveat', cursive;
font-family: 'Fasthand', cursive;
font-family: 'Instrument Serif', serif;
font-family: 'Kalam', cursive; */





